<head>
  <meta charset="utf8">
  <title></title>
  <link rel="stylesheet" href="/normalize.css" type="text">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<br>

 <div class="heading1">
<h1 style="font-size:50px;">People Greeted</h1>
<br>
<form action="/" method="get">
 <button class="button-primary homeBtn" type="submit" name="HomeButton">Home</button>
</form>
<table>
    <tr>
        <th>
             Names 
            <br>
        </th>
        
        <th>
            language
            <br>
        </th>
         <th>
            Count
        </th>
    </tr>
    {{#each usersGreeted}}
    <tr>
        <td>
        <a href="/users/{{name}}">{{name}}</a> 
        </td>
         <td>
           {{language}} 
        </td>
        <td>
         {{count}}
        </td>
    </tr>
    {{/each}}
</table>
</div>
