<head>
  <meta charset="utf8">
  <title></title>
  <link rel="stylesheet" href="../public/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<br>
<div class="row">
</div>
<div class="row">
  {{#each allShifts }}
    <div class=" test col s12 m6 l1">
   <h5 class="booked {{color}}"> {{weekday}}</h5>
    {{#each waiter}}
     <h6>{{name}}</h6>
     {{/each}}
    </div>  
    {{/each}}
   </div> 
    <br>
    <div class="row">
      <div class="break col s10">
<a href="/clear"><button style="padding:10px; background-color:rgb(98, 153, 185); color:white">Reset</button></a>
</div> 
    </div>