<head>
  <meta charset="utf8">
  <title></title>
  <link rel="stylesheet" href="../public/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<br>
 <div class ="angle-gradient">
   <div class="homepage">
<div class="row">
  {{#each allShifts }}
    <div class=" test col s12 m6 l1">
   <h5 style="border:2px solid black; padding:2px;" class="booked {{color}}"> {{weekday}}</h5>
    {{#each waiter}}
     <h5 id="homepages"style="margin-left:5px;">{{names}}</h5>
     {{/each}}
    </div>  
    {{/each}}
   </div> 
    <br>
    </div>
    <div class="row">
      <div class="break col s10">
<a href="/clear"><button style="margin-left:90px; padding:15px; background-color:rgb(255, 0, 0); color:white">Reset</button></a>
</div> 
    </div>
    </div>