<head>
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Wellcome Page</title>
</head>


 <div class ="angle-gradient">
 <div class ="row">
   <div class="homepage">
<h3 class="homepage">Please enter https: /waiters/yournname</h3>
 <h3 class="homepage">To select/update your shifts:</h3>
</div>
 </div>
 </div>